/* Griffin Stepler, Project 1, CIS425, 1:30pm */

.calcButton {
    height: 40px;
    width: 40px;
    padding: 6px;
    margin-top:2px;
    /*
    margin-left: 2px;
    margin-right: 2px;
    */
    vertical-align: top; /* this prevents shifting issues upon value assignment */
    font-size: 12pt;
    font-weight: bold;
}

#evaluate {
    width: 172px;
}

.calcButton:hover {
    background-color: rgb(197, 194, 194);
}

.calcButton:active {
    background-color: rgb(141, 140, 140);
}

#display {
    font-size: 20pt;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: right;
    height: 40px;
    width: 172px;
    vertical-align: top; /* this prevents shifting issues upon value assignment */
}

#display:hover {
    
}

#calcWrapper {
    display: table;
    margin: auto;
}

#calcDiv {
    display: table-row;
    background-color: rgb(145, 195, 224);
    height: 280px;
    width: 200px;
}

#calc {
    display: table-cell;
    padding: 20px 20px 10px 20px;
}

#row6 {
    text-align: right;
    vertical-align: bottom;
}

#griffLink {
    text-align: left;
}

.tooltip {
    position: relative;
    display:inline-block;
    border-bottom: 1px solid black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}