/* Griffin Stepler, E6, CIS425, 1:30pm */
h1 {
    color: green;
    border-bottom: solid red
}
p {
    font-family: "Times"; 
    font-style: normal; 
    margin: 20px;
 }
h2 {
    margin-left: 100px; 
    color: red;
}

main {
    border: 1px solid black;
    box-shadow: 10px 8px 5px grey;
    margin: 10px;
}

h1, h2 {margin: 20px;}
body {margin: 50px;}

#twentyBill {
    border: 2px solid darkgreen;
    width: 800px;
    margin: 50px 20px;
    padding: 50px 10px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

#twentyHeaderImage {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 20 20 20;
}

div img {

    display: block;
    margin-left: auto;
    margin-right: auto;
    
}


